<div class="card">
    <div>
        <span>
            Última Notícia
        </span>
    </div>
    <div class="div-img">
        <img class="big-img" src="../../../assets/img/img-big-card.jpg">
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget semper mi. Duis quis justo eget urna aliquet consequat. Sed vel turpis eu lectus cursus laoreet. Sed at urna ut risus rhoncus bibendum. Nulla facilisi. Maecenas consequat libero nec est placerat ultrices. Quisque vel lectus auctor, mattis velit eu, cursus odio. Sed eget urna nec nunc congue suscipit.
        </p>
    </div>
</div>
