<div>
    <app-title-blog></app-title-blog>
</div>
<div class="container-geral">
    <div class="container-big">
        <app-big-card></app-big-card>
    </div>
    <div class="container-small">
        <div class="small-cards">
            <div>
                <span>
                    Outras Notícias
                </span>
            </div>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
        </div>
    </div>   
</div>